/* Desktop Version */
@media only screen and (min-width: 768px){
  header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    outline: solid;
    outline-width: thin;
    margin-top: 10px;
    text-align: center;
    background-color:grey;
  }

  main div {
    width: 200px;
    height: 600px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;    
  }

  main div:nth-child(2) {
    width: 380px;
    height: 200px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;

  }

  main div:nth-child(3) {
    width: 380px;
    height: 200px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;
  }

  body main .box div {
    width: 190px;
    height: 250px;
    outline: solid;
    outline-width: thin;
    float: left;
    text-align: center;
  }

  footer{
    width: 759px;
    height: 149px;
    outline: solid;
    outline-width: thin;
    border:0.25px solid black;
    text-align: center;
    background-color: rgb(102, 44, 55);
    float: right;
  }
}

/* Tablet */

/* @media (min-width: 760px){
  header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    outline: solid;
    outline-width: thin;
    margin-top: 10px;
    text-align: center;
    background-color:grey;
  }

  main div {
    width: 200px;
    height: 600px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;    
  }

  main div:nth-child(2) {
    width: 380px;
    height: 200px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;

  }

  main div:nth-child(3) {
    width: 380px;
    height: 200px;
    outline: solid;
    outline-width: thin;
    text-align: center;
    float: left;
  }

  body main .box div {
    width: 190px;
    height: 250px;
    outline: solid;
    outline-width: thin;
    float: left;
    text-align: center;
  }

  footer{
    width: 759px;
    height: 149px;
    outline: solid;
    outline-width: thin;
    border:0.25px solid black;
    text-align: center;
    background-color: rgb(102, 44, 55);
    float: right;
  }
} */

/* Mobile Version */
@media screen and (max-width: 768px) {
  header {
    width: 480px;
    height: 75px;
    outline: solid;
    outline-width: thin;
    margin-top: 10px;
    text-align: center;
    background-color:grey;
  }
  
  main, div {
    width: 480px;
    height: 150px;
    outline: solid;
    outline-width: thin;
    text-align: center;
  }
  
  main, div, div {
    width: 480px;
    height: 125px;
    outline: solid;
    outline-width: thin;
    text-align: center;
  }
  
  .box div {
    width: 240px;
    height: 250px;
    outline: solid;
    outline-width: thin;
    float: left;
    text-align: center;
  }

  footer{
    clear: both;
    width: 480px;
    height: 80px;
    outline: solid;
    outline-width: thin;
    border:0.25px solid black;
    text-align: center;
    background-color: rgb(102, 44, 55)
  }
}



