
#b{
  background-color:rgb(143, 102, 102);
}

#c{
  background-color:rgb(72, 95, 81);
}

#d{
  background-color:rgb(146, 196, 185);
}
#box1{
  background-color:rgb(211, 216, 135);
}

#box2{
  background-color:rgb(21, 201, 147);
}

#box3{
  background-color:rgba(135, 170, 216, 0.801);
}

#box4{
  background-color:rgb(136, 135, 216);
}

@media (min-width: 481px) and (max-width: 763px){
  #b{
    background-color:rgb(230, 20, 20);
  }
  
  #c{
    background-color:rgb(20, 231, 101);
  }
  
  #d{
    background-color:rgb(12, 209, 166);
  }
}